<template>
  <div class="">
    <div class="relative text-black pl-4 lg:pl-28">
      <div class="flex items-center w-full px-2 py-2">
        <img src="@/assets/1.png" alt="" class="h-8">
        <div class="absolute mx-10 ">
          <p>Good Morning</p>
          <p class="font-bold -mt-2">Fellas</p>
        </div>
      </div>
    </div>
    <div class="bg-pinked">
      <div class="relative text-black">
          <div class="absolute top-36 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-center text-3xl md:text-6xl text-white font-black z-10">
            <p>WEEKEND FROM HOME</p>
          </div>
          <div class="absolute top-56 lg:top-52 left-1/2 transform -translate-x-1/2 translate-y-1/2 lg:-translate-y-1/4 text-center text-sm lg:text-xl text-white font-black z-10">
            <p >Stay active with a little workout.</p>
          </div>
          <div class="absolute hover:bg-biru hover:text-white bg-white px-12 lg:px-16 py-1 rounded-full top-2/3 leading-10 left-1/2 transform -translate-x-1/2 translate-y-1/2 lg:-translate-y-1/2 text-center text-xl font-black z-10">
            <p>Let's Go</p>
          </div>
          <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 translate-y-4 lg:-translate-y-1/4">
            <img src="@/assets/2.png" alt="" class="h-60">
          </div>
          <div class="absolute lg:pl-96 -pl-50 pt-60">
            <img src="@/assets/12.png" alt="" class="h-40 lg:hidden" >
            <img src="@/assets/3.png" alt="" class="hidden lg:block">
          </div>
          <div class="absolute lg:pl-24">
            <img src="@/assets/11.png" alt="" class="lg:hidden ">
            <img src="@/assets/4.png" alt="" class="h-40 hidden lg:block">
          </div>
          <div class="absolute right-48 top-72">
            <img src="@/assets/6.png" alt="" class="h-60 hidden lg:block">
          </div>
          <div class="object-fill lg:object-contain object-center">
            <img src="@/assets/13.png" alt="" class="w-full lg:hidden">
            <img src="@/assets/5.png" alt="" class="w-full hidden lg:block">
          </div>
      </div>
      <div class="relative">
        <div class="">
          <div class="absolute right-8 -rotate-90">
            <img src="@/assets/2.png" alt="" class="h-40">
          </div>
          <div class="flex flex-row-reverse">
            <img src="@/assets/8.png" alt="" class="h-40">
          </div>
        </div>
        <div>
          <p class="lg:px-96 px-8 py-4 text-right text-xl text-black font-semibold">
            <a class="text-biru">Deffinition;</a>a practice or exercise to test or improve one's fitness for athletic competition, ability, or performance to exhaust (something, such as a mine) by working to devise, arrange, or achieve by resolving difficulties. Merriam-Webster.com Dictionary.
          </p>
          <p class="lg:px-96 px-8 py-6 text-right text-white italic text-xl lg:right-96">-weekend team</p>
          <div class="lg:pl-96 pl-12 pt-0 py-2 lg:pt-10">
            <img src="@/assets/3.png" alt="" class="">
          </div>
        </div>
      </div>
      <div class="relative pb-8">
        <p class="flex lg:justify-center mx-8 py-8 text-3xl text-white font-bold">Testimonial</p>
      </div>
    </div>
    <div class="bg-black py-12" >
      <div class="lg:flex lg:justify-center mx-8 pt-4 pb-12 gap-2 -mt-28">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-12 w-10 text-white mt-24 hover:text-biru hidden lg:block" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm.707-10.293a1 1 0 00-1.414-1.414l-3 3a1 1 0 000 1.414l3 3a1 1 0 001.414-1.414L9.414 11H13a1 1 0 100-2H9.414l1.293-1.293z" clip-rule="evenodd" />
        </svg>
        <div class="flex flex-col md:flex-row overflow-hidden shadow-lg hover:scale-105 transition duration-500 cursor-pointer" :value="product.id" v-for="product in testimoni" v-bind:key="product.id">
          <div class="max-w-xs mx-auto bg-white rounded-xl p-5 shadow-2xl m-2">
              <p class="text-3xl text-black font-bold mb-1">{{ product.by }}</p>
            <div class='mt-5 flex items-center'>
              <svg xmlns="http://www.w3.org/2000/svg" class="h-14 w-14 rounded-full " fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>
              <div class="ml-3">
                <p class="text-black leading-loose font-normal text-base">{{ product.testimony }}</p>
              </div>
            </div>
          </div>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-12 w-10 text-white mt-24 hover:text-biru hidden lg:block" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-8.707l-3-3a1 1 0 00-1.414 1.414L10.586 9H7a1 1 0 100 2h3.586l-1.293 1.293a1 1 0 101.414 1.414l3-3a1 1 0 000-1.414z" clip-rule="evenodd" />
        </svg>
      </div>
      <p class="flex lg:justify-center mx-8 text-3xl text-white font-bold uppercase">POV</p>
      <p class="flex justify-center lg:px-96 px-8 py-12 lg:text-center text-xl text-white">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud ullamco laboris nisi ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      </p>
      <p class="flex lg:justify-center mx-8 text-3xl text-white font-bold">Resource</p>
      <p class="flex justify-center lg:px-96 px-8 py-12 lg:text-center text-xl text-white">
        These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammelled and when nothing prevents our being able to do what we like best
      </p>
      <div class="relative">
        <div class="absolute right-60 -z-10">
          <img src="@/assets/10.png" alt="" class="hidden lg:block h-40">
        </div>
        <p class="flex lg:justify-center mx-8 text-3xl text-white font-bold">Help & Tips</p>
        <div class="lg:flex lg:justify-center mx-8 pt-4 pb-16">
          <div  :value="info.id" v-for="info in berita" v-bind:key="info.id" class="flex-row max-w-sm px-4 py-2 rounded-md overflow-hidden shadow-lg hover:scale-105 transition duration-500 ">
            <div class="">
              <img :src="info.image" alt="" class="rounded-t-lg" />
              <div class="flex py-4 px-4 bg-black opacity-70 -mt-20 gap-2 hover:bg-white text-white hover:text-biru cursor-pointer">
                <h3 class="flex-initial w-96 text-md font-bold text-left span-4">{{ info.title }}</h3>
                <svg xmlns="http://www.w3.org/2000/svg" class="h-9 w-9 flex-initial w-10" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-8.707l-3-3a1 1 0 00-1.414 1.414L10.586 9H7a1 1 0 100 2h3.586l-1.293 1.293a1 1 0 101.414 1.414l3-3a1 1 0 000-1.414z" clip-rule="evenodd" />
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="relative ">
        <div class="absolute left-4 -rotate-180 z-10">
          <img src="@/assets/2.png" alt="" class="hidden lg:block h-40">
        </div>
        <div class="absolute left-0 mt-11">
          <img src="@/assets/7.png" alt="" class="hidden lg:block h-48">
        </div>
        <p class="flex lg:justify-center mx-8 text-3xl text-white font-bold">You're All Set</p>
        <p class="flex justify-center lg:px-96 px-8 py-12 lg:text-center text-xl text-white ">
          The wise man therefore always holds in these matters to this principle of selection.
        </p>
        <div class="absolute left-4 -rotate-180 z-10 lg:hidden">
          <img src="@/assets/2.png" alt="" class="h-40">
        </div>
        <div class="flex mt-10 lg:hidden">
          <img src="@/assets/7.png" alt="" class="h-48">
        </div>
      </div>
    </div>
    <div class="bg-biru py-2 px-4 grid grid-cols-2 gap-2 ">
      <div>
        <p class="flex justify-center text-base text-white font-bold">wknd@2020</p>
      </div>
      <div>
        <p class="flex justify-center rounded-full border-white border-2 text-base text-white font-bold">alpha version 0.1</p>
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: 'HomeView',
  data  () { return { testimoni: [], berita: [] } },
  components: {
  },
  mounted () { this.proceed(); this.news() },
  methods: { proceed () { this.axios.get('/testimonial').then((response) => { this.testimoni = response.data || [] }).catch(error => { console.log(error) }) }, news () { this.axios.get('/help-tips').then((response) => { this.berita = response.data || [] }).catch(error => { console.log(error) }) } }
}
</script>
